# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here
df = pd.read_csv('./data/listings.csv')
print(df.columns)
print(df.head())

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'wayã€€     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 
len(df[df.price < 100])

22778

In [6]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = df[df.neighbourhood_group == "Brooklyn"]

df_bk.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0

In [7]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
len(df_bk[df_bk.price < 100])

10473

In [8]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
len(df[df.host_name.isin(["Michael","David","John","Daniel"])])

1258

In [13]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df["adjusted_price"] = np.where(df.neighbourhood == "Williamsburg", df.price + 100, df.price)

df[df.neighbourhood == "Williamsburg"].head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,231
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,275
42,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,7,49,2020-02-07,0.39,1,229,180

In [39]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
print(df.room_type.unique())
#private
print(f"Private: {round(len(df[df.room_type == 'Private room'].value_counts()) / len(df)*100,2)}%")
#shared
print(f"Shared: {round(len(df[df.room_type == 'Shared room'].value_counts()) / len(df)*100,2)}%")

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']
Private: 34.27%
Shared: 1.52%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [59]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
df.groupby("neighbourhood_group").price.count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: price, dtype: int64

In [60]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
df.groupby("neighbourhood_group").price.mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [62]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby("neighbourhood_group").price.agg( ['min', 'max'] )

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [63]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.
df.groupby(["neighbourhood_group", "room_type"]).price.mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [64]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
df.groupby(["neighbourhood_group", "room_type"]).price.agg(['min', 'max', 'mean', 'median'])

                                     min    max        mean  median
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404  138.004819   103.0
                    Private room      16    700   68.419668    55.0
                    Shared room       20    800   66.391304    44.0
Brooklyn            Entire home/apt   20  10000  171.587687   135.0
                    Hotel room         0    399  147.300000   129.0
                    Private room      10   2500   71.291189    60.0
                    Shared room       15   1500   57.870091    36.0
Manhattan           Entire home/apt    0  10000  231.335572   165.0
                    Hotel room         0   2211  292.515670   210.0
                    Private room      10  10000  128.277069    80.0
                    Shared room       10  10000  111.735084    60.0
Queens              Entire home/apt   10  10000  150.168900   115.0
                    Hotel room         0    249  139.058824   149.0
                    Private room      18   9000   69.972564    55.0
                    Shared room       14   3000   89.891892    40.0
Staten Island       Entire home/apt   39   1200  151.720930   111.0
                    Private room      20    800   70.312883    55.0
                    Shared room       19     82   46.000000    38.0

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [70]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv("./data/prices.csv")
listings = pd.read_csv("./data/n_listings.csv",sep=";")

print(prices.columns)
print(listings.columns)

Index(['neighbourhood_group', ' mean_price'], dtype='object')
Index(['neighbourhood_group', 'n_listings'], dtype='object')

In [71]:
# 2. Do join that keeps all the records for each table.
joinedDf = pd.merge(prices, listings, on='neighbourhood_group')

joinedDf

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [135]:
#  1. Who was won Album of the Year in 2016?
grammysDf = pd.read_csv("./data/grammys.csv")

grammysDf[((grammysDf.year == 2016) & (grammysDf.winner == True) &
           (grammysDf.category == "Album of the Year"))]['workers']

5505    Taylor Swift (artist/producer), Jack Antonoff ...
Name: workers, dtype: object

In [136]:
# 2. Who won Best Rap Album in 2009?
grammysDf[((grammysDf.year == 2009) & (grammysDf.winner == True) &
           (grammysDf.category == "Best Rap Album"))]['workers']

4396    Lil' Wayne
Name: workers, dtype: object

In [141]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
grammysDf[((grammysDf.nominee == 'Kendrick Lamar') & (grammysDf.winner == True))]

Empty DataFrame
Columns: [year, category, nominee, workers, winner]
Index: []